[Desktop Entry]
Name=Space Nerds in Space
GenericName=Space Nerds in Space
Comment=Networked spaceship bridge simulator
Exec=snis_client --fullscreen
Icon=snis-icon.svg
Terminal=false
Type=Application
Categories=Game;
