Source: snis
Section: games
Priority: optional
Maintainer: Iván Sánchez Ortega <ivan@sanchezortega.es>
Build-Depends: debhelper (>= 10),
 build-essential,
 portaudio19-dev,
 libbsd-dev, 
 libpng-dev,
 libvorbis-dev,
 libsdl2-dev,
 libsdl2-2.0-0,
 liblua5.2-dev,
 libglew-dev,
 libssl-dev
Suggests: openscad, git
Standards-Version: 4.0.0
Homepage: http://smcameron.github.io/space-nerds-in-space
Vcs-Git: https://github.com/smcameron/space-nerds-in-space.git
Vcs-Browser: https://github.com/smcameron/space-nerds-in-space

Package: snis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 portaudio19,
 libbsd, 
 libpng,
 libvorbis,
 libsdl2,
 libsdl2-2.0-0,
 liblua5.2,
 libglew2.1,
 libssl,
 libttspico-utils | espeak, 
 sox | alsa-utils
Description: Multi-player networked spaceship bridge simulator
 This is a multiplayer networked spaceship bridge simulator game
 inspired by another game called "Artemis Spaceship Bridge Simulator"
 It's not really close to finished, but it's more or less playable
 at this point.
